* {
  /* don't use '0px' or any other unit, if you set the value to zero */
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "28_Days_Later_Cyr"; /* Имя шрифта */
  src: url("../fonts/28_Days_Later_Cyr.otf"); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: "Arabella_Swash"; /* Имя шрифта */
  src: url("../fonts/Arabella_Swash.ttf"); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: "AvantGardeC"; /* Имя шрифта */
  src: url("../fonts/AvantGardeC.otf"); /* Путь к файлу со шрифтом */
 }

body {
  width: 100%;
}

#wrap-centered {
  width: 100%;
  margin: 0 auto;
  width: 1400px;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: #08c;
}

footer {
  margin-top: 50px;
}

footer p {
  text-align: center;
}

.menu {
  height: 60px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}
.logo {
  width: 100%;
  font-size: 45px;
  color:#976544;
  font-family: "28_Days_Later_Cyr";
  font-weight: 400;
}

.logo a {
  color: #976544;
  text-decoration: none;
}

.menu_items li {
  padding: 10px 20px;
}

.menu_items li a {
  font-family: "AvantGardeC";
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #976544;
  border-top: 1px solid#976544;
  padding: 5px;
}

.menu_items li a:hover {
  color:#976544;;
}

.section_1 {
  background-image: url(../img/section_1_bg.webp);
  height: 930px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  display: flex;
  padding-top: 200px;
  justify-content: flex-end;
}

.section_1_content {
  width: 350px;
  margin-right: 50px;
}

.section_1::after {
  content: "";
}

.section_1_content header {
  text-align: center;
}

.section_1_content header h2 {
  font-family: "Arabella_Swash";
  font-size: 55px;
  color: white;
}

.section_1_content header p {
  font-family: "Courier10_Win95BT_Bold";
  font-size: 20px;
  color: white;
}

.divide_line {
  display: flex;
  width: 100%;
  justify-content: center;
}

.line {
  width: 35%;
  height: 3px;
  margin: 50px 0px;
  background-color: #976544;
}

.section_3_items {
  display: flex;
  /* justify-content: space-around; */
}

.section_3_item {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_3_item img {
  max-width: 350px;
}

.section_3_item_header {
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px 41px;
  text-align: center;
}

.section_3_item_header h2 {
  font-size: 35px;
  margin: 20px;
}

.section_3_item_header hr {
  width: 90%;
  border-bottom: 5px solid black;
}

.section_3_item_header button {
  margin: 25px 0px;
  padding: 10px;
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;
}

.section_3_item_text {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  margin-top: 40px;
}

.section_3_item_text h2 {
  font-family: "AvantGardeC";
}

video::-webkit-media-controls {
  display:none !important;
}

.video_play {
  height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 27px;
    display: block;
    z-index: 9;
    position: absolute;
}

.video_position {
  justify-content: center;
}

.video_play span i {
  font-size: 42px;
  position: relative;
  left: 12px;
  color: white;
  top: 5px;
}

.video_play span:hover {
  border-color: #976544;
  cursor: pointer;
}

.video_play span i:hover {
  color:#976544;
}

.section_4 {
  display: flex;
  justify-content: center;
}

.section_4_first_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.section_4_first_block p {
  font-family: "AvantGardeC";
  margin-left: 70px;
}

.section_4_second_block {
  width: 415px;
}

.section_4_item:nth-child(2) {
  margin-left: 65px;
}

.section_4_item:nth-child(3) {
  margin-left: 65px;
}

.section_4_item {
  opacity: 0.5;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section_4_item:hover {
  opacity: 1;
}

.section_4_item p {
  font-family: "AvantGardeC";
  margin-left: 10px;
}

.section_5 {
  padding: 60px 0px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_5 button {
  width: 240px;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  /* border-radius: 45px; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.section_5 button:hover {
  background-color: #976544;
  box-shadow: 0px 15px 20px #976544;
  color: #fff;
  transform: translateY(-7px);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  right: -13px;
  top: -20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 16px 16px;
  background-color: #976544;
  color: white;
}

.modal-header h4 {
  font-family: "AvantGardeC";
  font-weight: 100;
}

/* Modal Body */
/* .modal-body {padding: 2px 16px;} */

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #976544;
  color: white;
}

/* Modal Content */
.modal-content {
  box-shadow: 0px 8px 15px #976544;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /* border: 1px solid #888; */
  max-width: 320px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.example {
  font-size: 10px;
  margin: 5px 0px 10px;
}

.show_form {
  display: block;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "AvantGardeC";
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:#9b633d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#c18c69;
}

.form_wrapper {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "AvantGardeC";
  color: white;
  height: 250px;
  background-color: #3B4954;
}

footer hr {
  width: 35%;
  border-bottom: 1px solid white;
}

footer p {
  position: relative;
  top:38%;
}

.extra_item_for_mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  #wrap-centered {
    width: 100%;
  }

  .section_4_second_block {
    margin-left: 0px;
  }

  .section_3_item img {
    max-width: 300px;
  }

  .section_4_second_block {
    width: 400px;
    flex-direction: column;
  }

  .remove_block_for_mobile {
    display: none;
  }

  .menu {
    width: 100%;
    flex-direction: column;
    height: 110px;
  }

  .extra_item_for_mobile {
    display: block;
  }

  .logo {
    text-align: center;
    font-size: 46px;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0px; */
  }

  .menu_items li a {
    font-size: 15px;
  }

  .section_1 {
    height: 350px;
    padding-top: 0px;
    background-position-y: bottom;
  }

  .section_1_content {
    width: 100%;
    margin-right: 0px;
    display: flex;
    align-items: flex-end;
  }

  .section_1_content header {
    text-align: right;
  }

  .section_1_content header h2 {
    font-size: 40px;
    margin-bottom: 12px;
    margin-left: 15px;
  }

  .section_3_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section_3_item {
    width: 300px;
  }

  .section_3_item_text {
    margin-top: 0px;
  }

  .section_3_item_header {
    padding: 0px;
    height: auto;
    margin: 30px 0px;
  }

  .section_3_item_header button {
    display: none;
  }

  .section_4 {
    flex-direction: column;
  }

  .section_4_second_block {
    width: 100%;
    padding-left: 10px;
  }

  .section_4_first_block img {
    max-width: 310px;
  }


}

@media screen and (max-width: 425px) {
  .menu_items li a {
    font-size: 9px;
  }

  #promo {
    width: 300px;
  }

  .section_1 {
    height: 300px;
  }

  .section_4_second_block {
    width:100%;
    justify-content: center;
  }

  .section_4_item {
    width:250px;
  }

  .section_4_second_block {
    display: flex;
    align-items: center;
  }

  .section_4_item:nth-child(2) {
    margin-left: 35px;
  }

  .section_4_item:nth-child(3) {
    margin-left: 35px;
  }

}

@media screen and (max-width: 375px) {
  

}